.menu
  position: absolute
  width: 90px
  height: 100vh
  background: #1e1e1e
  padding-top: 30px
  box-sizing: border-box
  display: flex
  flex-direction: column
  justify-content: space-between
  &.isExtended
    width: 400px

